<div class="add-row-editable-table">
    <button class="btn btn-primary" ng-show="!loading" ng-click="addIrr()">Thêm</button>
</div>
<table class="table table-bordered table-hover table-condensed">
    <tr>
        <td></td>
        <td>Thiết bị</td>
        <td>Cổng</td>
        <td>Bắt đầu</td>
        <td>Thời gian</td>
        <td>Kết thúc</td>
        <td>Hành động</td>
    </tr>
    <tr ng-repeat="irrigation in irrigationDetails" class="editable-row">
        <td>
            {{$index + 1}}
        </td>
        <td class="select-td">
            <span editable-select="irrigation.device_id" e-name="device_id" e-form="rowform" e-selectpicker
                  e-ng-options="d.id as d.code for d in lstDevice" e-ng-change="changeDevice(irrigation,$data)">
                {{ showDevice(irrigation)}}
            </span>
        </td>
        <td>
            <span editable-select="irrigation.port" e-name="port" e-form="rowform" e-selectpicker
                  e-ng-options="p.id as p.label for p in lstPort" e-ng-change="changePort(irrigation,$data)">
                {{ showPort(irrigation)}}
            </span>
        </td>
        <td>
            <span editable-text="irrigation.from" e-name="from" e-form="rowform" e-required data-e-class="timemask">
                {{ irrigation.from || 'empty' }}
            </span>
        </td>
        <td>
            <span editable-number="irrigation.time" e-name="time" e-form="rowform" e-required>
                {{ irrigation.time || 'empty' }}
            </span>
        </td>
        <td>
            {{ irrigation.to || 'empty' }}
        </td>
        <td>
            <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"
                  shown="inserted == irrigation">
                <button type="submit" ng-disabled="rowform.$waiting" ng-click="saveAdd(rowform, irrigation)" class="btn btn-primary editable-table-button btn-xs">
                    Lưu
                </button>
                <button type="button" ng-disabled="rowform.$waiting" 
                        ng-click="cancelAdd(rowform, $index, irrigation).$cancel()" 
                        class="btn btn-default editable-table-button btn-xs">
                    Hủy
                </button>
            </form>
            <div class="buttons" ng-show="!rowform.$visible">
                <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show();">Sửa</button>
                <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeIrr($index, irrigation)">Xóa</button>
            </div>
        </td>
    </tr>
</table>
