<form name="myForm">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
                <em class="ion-ios-close-empty sn-link-close"></em>
            </button>
            <h4 class="modal-title">{{ title}}</h4>
        </div>
        <div class="modal-body" class="form-inline ng-cloak">
            <div class="row" ng-show="msg != ''">
                <div class="alert closeable" role="alert" style="width: 80%;margin: 0 auto;text-align: center;">
                    <button type="button" class="close" aria-label="Close" onclick="$(this).parent().hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <span>{{ msg}}</span>
                    <div class="clearfix2"></div>
                </div>
            </div>
            <div class="clearfix2"></div>
            <div class="row">
                <div class="alert closeable" role="alert" style="display: none;width: 80%;margin: 0 auto;" id="myAlert">
                    <button type="button" class="close" aria-label="Close" onclick="$(this).parent().hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <span id="alertContent"><strong>Well done!</strong> You successfully read this important alert message.</span>
                    <div class="clearfix2"></div>
                </div>
            </div>
            <div class="clearfix2"></div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-xs-4"  for="inputFirstName">Serial</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="inputEmail" 
                                   placeholder="Serial" ng-model="device.code" readonly disabled>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-xs-4"  for="inputName">Tên thiết bị</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="inputName" 
                                   placeholder="Tên thiết bị" ng-model="device.name" readonly disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix2"></div>
            <div class="row" ng-if="canTimer">
                <div class="col-sm-6" ng-repeat="(key, value) in switches">
                    <div class="form-group" ng-form="portForm">
                        <label class="control-label col-xs-4">
                            {{ value.label}}
                        </label>
                        <div class="col-xs-8">
                            <div class="col-xs-6" style="padding-left: 0;padding-top: 3px;">
                                <select class="form-control" ng-model="value.value" convert-to-number>
                                    <option value="0">Tắt</option>
                                    <option value="1">Bật</option>
                                    <option value="2">Không đổi</option>
                                </select>
                                <!--                                <ba-switcher switcher-style="primary" switcher-change="switcherChange(value)" 
                                                                             switcher-value="value.status"></ba-switcher>-->
                            </div>
                            <div class="col-xs-6" style="padding-right: 0px;" 
                                 ng-class="{
                                             'has-error':(portForm.number.$touched && portForm.number.$invalid)
                                         }">
                                <input type="number" class="form-control" name="number" placeholder="Time (s)" 
                                       ng-model="value.number" ng-required="value.value != '2'" ng-readonly="value.value == '2'">
                                <span class="help-block" ng-show="portForm.number.$touched && portForm.number.$error.required">Thời gian là bắt buộc.</span>
                                <span class="help-block" ng-show="portForm.number.$touched && !portForm.number.$error.required && portForm.number.$invalid">Thời gian không hợp lệ.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" ng-if="!canTimer">
                <div class="col-sm-6" ng-repeat="(key, value) in switches">
                    <div class="form-group" ng-form="portForm">
                        <label class="control-label col-xs-4">
                            {{ value.label}}
                        </label>
                        <div class="col-xs-8">
                            <select class="form-control" ng-model="value.value" convert-to-number>
                                <option value="0">Tắt</option>
                                <option value="1">Bật</option>
                                <option value="2">Không đổi</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix2"></div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" ng-click="save()" ladda="saving" data-style="expand-left">
                    <i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;&nbsp;Điều khiển</button>
                <button type="button" class="btn btn-default" ng-click="$dismiss()">
                    <i class="glyphicon glyphicon-remove"></i>&nbsp;&nbsp;Hủy</button>
            </div>
        </div>
    </div>
</form>


