<form name="myForm">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
                <em class="ion-ios-close-empty sn-link-close"></em>
            </button>
            <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body" class="form-inline ng-cloak">
            <div class="row">
                <div class="alert closeable" role="alert" style="display: none;width: 80%;margin: 0 auto;" id="myAlert">
                    <button type="button" class="close" aria-label="Close" onclick="$(this).parent().hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <span id="alertContent"><strong>Well done!</strong> You successfully read this important alert message.</span>
                    <div class="clearfix2"></div>
                </div>
            </div>
            <div class="clearfix2"></div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group"  ng-class="{'has-error': myForm.code.$touched && myForm.code.$invalid || myForm.code.$error.exits}">
                        <label  class="control-label col-xs-4" for="code">Mã khu vực</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" name="code" placeholder="Mã khu vực" 
                                   ng-model="item.code" ng-readonly="item.id > 0" required>
                            <span class="help-block" ng-show="myForm.code.$touched && myForm.code.required">Mã khu vực là bắt buộc.</span>
                            <span class="help-block" ng-show="myForm.code.$touched && myForm.code.$invalid && !myForm.code.$error.exits">Mã khu vực không hợp lệ.</span>
                            <span class="help-block" ng-show="myForm.code.$error.exits">Mã khu vực đã tồn tại.</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group"  ng-class="{'has-error': myForm.name.$touched && myForm.name.$invalid}">
                        <label  class="control-label col-xs-4" for="name">Tên khu vực</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" name="name" placeholder="Tên khu vực" 
                                   ng-model="item.name" required>
                            <span class="help-block" ng-show="myForm.name.$touched && myForm.name.required">Tên khu vực là bắt buộc.</span>
                            <span class="help-block" ng-show="myForm.name.$touched && myForm.name.$invalid">Tên khu vực không hợp lệ.</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix2"></div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-click="save()" ladda="saving" data-style="expand-left">
                <i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;&nbsp;Lưu</button>
            <button type="button" class="btn btn-default" ng-click="$dismiss()">
                <i class="glyphicon glyphicon-remove"></i>&nbsp;&nbsp;Hủy</button>
        </div>

</form>


